body {
    text-align: center;
}
div {
    padding: 10px;
}
#Flex-container {
    display:flex;
    /*align-items: center;*/
    justify-content: center;
    gap: 10px;
}

.grid-colors {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.grid {
    display: grid;
    height:700px;
    width:700px;
    background-color: white;
    border:2px solid black;
}

.grid-Element {
    user-select: none;
    background-color: gray;
}

